* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    /*font-weight: NUMERIC_WEIGHT_VALUE; */
    src: url(Quicksand/static/Quicksand-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Quicksand';
    font-style: 600;
    /*font-weight: NUMERIC_WEIGHT_VALUE; */
    src: url(Quicksand/static/Quicksand-SemiBold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Quicksand';
    font-style: bold;
    /*font-weight: NUMERIC_WEIGHT_VALUE; */
    src: url(Quicksand/static/Quicksand-Bold.ttf) format('truetype');
  }

  body {
    font-family: Quicksand, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  
  .hero {
    padding: 2rem;
    text-align: center;
    background-color: #444;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #222;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  main {
    padding: 2rem;
  }
  
  .content-section {
    display: none;
  }
  
  .content-section.active {
    display: block;
  }
  